/* search section styling*/
.search-img img {
    width: 10rem;
    height: 9rem;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--var1);
    height: 10rem;
}

.search h1 {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.search-location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.search-region {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-region i {
    font-size: 1.5rem;
    color: #d1f1f1de;
}

.search-region p {
    font-size: 0.8rem;
    font-weight: 500;
    color: #d1f1f1de;
    padding-left: 7px;
}

.search-region select {
    background: transparent;
    color: #d1f1f1de;
    border: none;
    font-weight: bold;
    outline: none;
}

.search-region option {
    color: black;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 450px;
    height: 30px;
    border-radius: 5px;
}

.search-bar input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
}

.search-bar i {
    padding: 10px 10px;
}

/*search section styling end here*/

@media screen and (max-width: 860px) {
    .search {
        padding: 1rem;
    }

    .search-img {
        display: none;
    }

    .search-location {
        flex-direction: column-reverse;
    }

    .search-bar {
        min-width: 350px;
    }

    #search {
        margin: auto;
    }

    #search h1 {
        font-size: 1rem;
    }
}